@model SearchResultViewModel

<script>

    function redirectToUser(e, username) {
        location.href = `/${username}`;
    }

</script>

<div class="main-body__border">

    @if (Model.SearchPosts.Count() != 0 || Model.SearchUsers.Count() != 0)
    {
        <div class="page-header">
            <h2>Search result</h2>
        </div>

        @foreach (var f in Model.SearchUsers ?? Enumerable.Empty<ApplicationUser>())
        {
            <div class="find-user" style="padding-left: 5px; border-radius: 0; border-bottom: 1px solid #E1E8ED;" onclick="redirectToUser(event, '@f.UserName');">
                <div class="info">
                    <div class="avatar">
                        <img src="/images/@f.ProfileImgName" />
                    </div>
                    <h4>
                        <span>@f.FirstName @f.LastName</span>
                        <span class="material-symbols-outlined verified-icon">
                            verified
                        </span>
                        <br />
                        <span class="username">@@@f.UserName</span>
                    </h4>
                </div>
                @if (f.Id != Model.CurrentUserId && 
                    Model.CurrentUserFollows.FirstOrDefault(s => s.FollowerUserId == f.Id) == null)
                {
                    <form method="post" class="follow-btn" >
                        <input type="hidden" name="selectedUserId" value="@f.Id" />
                        <button asp-action="Follow" asp-controller="UserProfile">Follow</button>
                    </form>
                }
                @if (f.Id != Model.CurrentUserId && 
                    Model.CurrentUserFollows.FirstOrDefault(s => s.FollowerUserId == f.Id) != null)
                {
                    <form method="post" class="unfollow-btn">
                        <input type="hidden" name="selectedUserId" value="@f.Id" />
                        <button asp-action="UnFollow" asp-controller="UserProfile">Following</button>
                    </form>
                }
            </div>
        }

        @foreach (var p in Model.SearchPosts ?? Enumerable.Empty<Post>())
        {
            <div class="post">

                <div class="avatar" onclick="location.href='/@p.AppUser.UserName';">
                    <img src="/images/@p.AppUser.ProfileImgName" />
                </div>

                <div class="body">
                    <div class="header">
                        <div class="user" onclick="location.href='/@p.AppUser.UserName';">

                            <h3 class="full-name">
                                @p.AppUser.FirstName @p.AppUser.LastName
                                <span class="material-symbols-outlined verified-icon">
                                    verified
                                </span>
                            </h3>

                            <p class="username-date">@@@p.AppUser.UserName · @p.Date<p />
                        </div>
                        <div class="text">
                            <p>@p.Text</p>
                        </div>

                    </div>
                    @if (p.ImgName != null)
                    {
                        <img class="post-image" onclick="window.open('/images/@p.ImgName', '_blank')" src="/images/@p.ImgName" />
                    }

                    @if (p.IsReposted == true)
                    {
                        <div class="post repost">
                            <div class="avatar" onclick="location.href='/@p.Repost.AppUser.UserName';">
                                <img src="/images/@p.Repost.AppUser.ProfileImgName" />
                            </div>

                            <div class="body">
                                <div class="header">
                                    <div class="user" onclick="location.href='/@p.Repost.AppUser.UserName';">
                                        <h3 class="full-name">
                                            @p.Repost.AppUser.FirstName @p.Repost.AppUser.LastName
                                            <span class="material-symbols-outlined verified-icon">
                                                verified
                                            </span>
                                        </h3>

                                        <p class="username-date">@@@p.Repost.AppUser.UserName · @p.Repost.Date<p />
                                    </div>

                                    <div class="text">
                                        <p>@p.Repost.Text</p>
                                    </div>

                                </div>
                                @if (p.Repost.ImgName != null)
                                {
                                    <img class="repost-image" onclick="window.open('/images/@p.Repost.ImgName', '_blank')" src="/images/@p.Repost.ImgName" />
                                }
                            </div>
                        </div>
                    }

                    <div class="footer">
                        @if (Model.CurrentUserId != p.AppUserId)
                        {
                            <form method="get">
                                <input type="hidden" value="@p.Id" name="reportedPostId" />
                                <input type="hidden" value="@p.AppUserId" name="reportedUserId" />
                                <button type="submit" asp-action="Report" asp-controller="Home" class="btn fa-regular fa-flag"></button>
                            </form>
                        }
                        @if (p.Likes.FirstOrDefault(x => x.UserId == Model.CurrentUserId) == null)
                        {
                            <div class="like-form">
                                <button class="btn like fa-regular fa-heart" onclick="like(event, @p.Id, this);"></button>
                                <p class="likes-count" style="display: @((p?.Likes.Count() != 0) ? "inline-block" : "none")">@p?.Likes.Count()</p>
                            </div>
                        }
                        else
                        {
                            <div class="like-form">
                                <button class="btn unlike fa-solid fa-heart" onclick="like(event, @p.Id, this);"></button>
                                <p class="likes-count liked" style="display: @((p?.Likes.Count() != 0) ? "inline-block" : "none")">@p?.Likes.Count()</p>
                            </div>
                        }

                        <form method="get" class="repost-form">
                            <input type="hidden" name="repostId" value="@p.Id" />
                            <button asp-action="CreatePost" asp-controller="Home" class="btn fa-solid fa-retweet">
                            </button>
                            <p class="reposts-count" style="display: @((p?.RepostsCount != 0) ? "inline-block" : "none")">@p?.RepostsCount</p>
                        </form>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="page-header">
            <h2>No results for "@Model.SearchString"</h2>
        </div>
    }
</div>

