@model SearchResultViewModel

<script>

    function redirectToUser(e, username) {
        //e.stopPropagation();
        console.log(e);
        location.href = `/${username}`;
    }

</script>

<div class="main-body__border">

    @if (Model.SearchPosts.Count() != 0 || Model.SearchUsers.Count() != 0)
    {
        <div class="page-header">
            <h2>Search result</h2>
        </div>

        @foreach (var f in Model.SearchUsers ?? Enumerable.Empty<ApplicationUser>())
        {
            <div class="find-user" style="padding-left: 5px; border-radius: 0; border-bottom: 1px solid #E1E8ED;" onclick="redirectToUser(event, '@f.UserName');">
                <div class="info">
                    <div class="avatar">
                        <img src="/images/@f.ProfileImgName" />
                    </div>
                    <h4>
                        <span>@f.FirstName @f.LastName</span>
                        <span class="material-symbols-outlined verified-icon">
                            verified
                        </span>
                        <br />
                        <span class="username">@@@f.UserName</span>
                    </h4>
                </div>
                @if (f.Id != Model.CurrentUserId && 
                    Model.CurrentUserFollows.FirstOrDefault(s => s.FollowerUserId == f.Id) == null)
                {
                    <form method="post" class="follow-btn" >
                        <input type="hidden" id="selectedUserId" value="@f.Id" />
                        <button onclick="followUser(event);">Follow</button>
                    </form>
                }
                @if (f.Id != Model.CurrentUserId && 
                    Model.CurrentUserFollows.FirstOrDefault(s => s.FollowerUserId == f.Id) != null)
                {
                    <form method="post" class="unfollow-btn">
                        <input type="hidden" id="selectedUserId" value="@f.Id" />
                        <button onclick="unfollowUser(event);">Following</button>
                    </form>
                }
            </div>
        }

        @foreach (var p in Model.SearchPosts ?? Enumerable.Empty<Post>())
        {
            <div class="post">
                <div class="avatar" onclick="location.href='/@p.AppUser.UserName';">
                    <img src="/images/@p.AppUser.ProfileImgName" />
                </div>

                <div class="body">
                    <div class="header">
                        <div class="user" onclick="location.href='/@p.AppUser.UserName';">
                            <h3 class="full-name">@p.AppUser.FirstName @p.AppUser.LastName</h3>
                            <span class="material-symbols-outlined verified-icon">
                                verified
                            </span>
                            <p class="username-date">@@@p.AppUser.UserName · @p.Date<p />
                        </div>
                        <div class="text">
                            <p>@p.Text</p>
                        </div>
                    </div>
                    @if (p.ImgName != null)
                    {
                        <img onclick="window.open('/images/@p.ImgName', '_blank')" src="/images/@p.ImgName" />
                    }
                </div>
            </div>
        }
    }
    else
    {
        <div class="page-header">
            <h2>No results for "@Model.SearchString"</h2>
        </div>
    }
</div>

