@model UserPostViewModel

<style>
    div.block {
        width: 100%;
        word-wrap: break-word;
    }

    #rcorners1 {
        border-radius: 25px;
        border: 2px solid grey;
        padding: 20px;
    }

    #rcornersImage {
        border-radius: 30px;
        padding: 20px;
    }
</style>

<div class="container">
    <div class="left">
        <partial name="_ToolsPartial" model="@Model.CurrentUser?.UserName" />
    </div>
    
    <div class="middle">
        <div>
            <h1>@Model.SelectedUser?.UserName</h1>
            @if (Model?.IsCurrentUser == true)
            {
                <a class="mb-2 btn btn-outline-primary" href="/Account/Editor/@Model.CurrentUser?.Id">Edit Profile</a>
            }
        </div>
        
        @foreach (var p in Model?.Posts ?? Enumerable.Empty<Post>())
        {
            <div style="text-align:left" class="block m-2" id="rcorners1">
                <a class="link-info" href="/@p.PostUserName"><strong>@p.PostUserName</strong></a>
                <div>@p.Text</div>
                @if (p.ImgName != null)
                {
                    <div>
                        <img style="max-height:400px; max-width:600px; height:100%; width:100%" id="rcornersImage" src="/images/@p.ImgName">
                    </div>
                }
                <form class="d-inline" method="post" style="visibility:@(Model?.IsCurrentUser == true ? "visible" : "hidden")">
                    <input name="Id" value="@p.PostId" type="hidden" />
                    <input name="accName" value="@p.PostUserName" type="hidden" />
                    <button type="submit" class="btn btn-outline-danger btn-sm mt-2" asp-action="DeletePost">
                        Delete
                    </button>
                    <button type="submit" class="btn btn-outline-warning btn-sm mt-2" asp-action="EditPost">
                        Edit
                    </button>
                </form>
                <div class="d-inline" style="float:right">@p.Date</div>
            </div>
        }
    </div>
    <div class="right">
        <partial name="_FollowingPartial" />
    </div>
</div>