@model UserPostViewModel

<style>
    div.block {
        width: 100%;
        word-wrap: break-word;
    }

    #rcorners1 {
        border-radius: 25px;
        border: 2px solid grey;
        padding: 20px;
    }
</style>

<div class="container">
    <div class="left">
        <partial name="_ToolsPartial" model="@Model.CurrentUserName" />
    </div>
    <div class="middle">
        <h1>@Model.SelectedUserName's Page</h1>
        @foreach (var p in Model.Posts ?? Enumerable.Empty<Post>())
        {
            <div style="text-align:left" class="block m-2" id="rcorners1">
                <a class="link-info" href="/@p.UserName"><strong>@p.UserName</strong></a>
                <div>@p.Text</div>
                <form class="d-inline" method="post" style="visibility:@(Model.IsCurrentUser == true ? "visible" : "hidden")">
                    <input name="Id" value="@p.Id" type="hidden" />
                    <input name="accName" value="@p.UserName" type="hidden" />
                    <button type="submit" class="btn btn-danger btn-sm mt-2" asp-action="DeletePost">
                        Delete
                    </button>
                    <button type="submit" class="btn btn-warning btn-sm mt-2" asp-action="EditPost">
                        Edit
                    </button>
                </form>
                <div class="d-inline" style="float:right">@p.Date</div>
            </div>
        }
    </div>
    <div class="right">
        <partial name="_FollowingPartial" />
    </div>
</div>