@model UserPageViewModel
@{
    ViewBag.Title = $"{Model.SelectedUser?.UserName}";
}

<div class="main-body__border">
    <div class="profile-header">
        <h2>
            @Model.SelectedUser?.FirstName @Model.SelectedUser?.LastName
            <span class="material-symbols-outlined verified-icon">
                verified
            </span>
            <br />
            <span class="bweeps-count">@((Model.SelectedUser.Posts != null) ? Model.SelectedUser.Posts.Count() : "0") Bweeps</span>
        </h2>
    </div>

    <div class="profile-info">
        <div style="display: flex">
            <img src="/images/@Model.SelectedUser?.ProfileImgName"
                 onclick="window.open('@((Model.IsCurrentUser == true) ? "/CropImage" : $"/images/{Model.SelectedUser.ProfileImgName}")', '_blank')" />

            @if (Model.IsCurrentUser == true)
            {
                <button onclick="location.href='/Account/Editor/@Model.SelectedUser?.Id';"
                        class="btn edit">
                    Edit profile
                </button>
            }
            else
            {
                @if (!Model.IsFollowing)
                {
                    <form method="post">
                        <input type="hidden" name="selectedUserId" value="@Model.SelectedUser?.Id" />
                        <button class="btn follow" asp-action="Follow" asp-controller="UserProfile">Follow</button>
                    </form>
                }
                else
                {
                    <form method="post">
                        <input type="hidden" name="selectedUserId" value="@Model.SelectedUser?.Id" />
                        <button class="btn unfollow" asp-action="UnFollow" asp-controller="UserProfile">Following</button>
                    </form>
                }
            }
        </div>
        <div>
            <h2>
                @Model.SelectedUser?.FirstName @Model.SelectedUser?.LastName
                <span class="material-symbols-outlined verified-icon">
                    verified
                </span>
                <br />
                <span class="username">@@@Model.SelectedUser?.UserName</span>
                <br />
                <span class="follows-count">
                    @((Model.FollowingCount != null) ? Model.FollowingCount : "0")  Following
                    &emsp; @((Model.FollowersCount != null) ? Model.FollowersCount : "0") Followers
                </span>
            </h2>
        </div>
    </div>

    @foreach (var p in Model?.Posts ?? Enumerable.Empty<Post>())
    {
        <div class="post">

            <div class="avatar" onclick="location.href='/@p.AppUser.UserName';">
                <img src="/images/@p.AppUser.ProfileImgName" />
            </div>

            <div class="body">
                <div class="header">
                    <div class="user" onclick="location.href='/@p.AppUser.UserName';">

                        <h3 class="full-name">
                            @p.AppUser.FirstName @p.AppUser.LastName
                            <span class="material-symbols-outlined verified-icon">
                                verified
                            </span>
                        </h3>

                        <p class="username-date">@@@p.AppUser.UserName · @p.Date<p />
                    </div>
                    <div class="text">
                        <p>@p.Text</p>
                    </div>

                </div>
                @if (p.ImgName != null)
                {
                    <img class="post-image" onclick="window.open('/images/@p.ImgName', '_blank')" src="/images/@p.ImgName" />
                }

                @if (p.IsReposted == true)
                {
                    <div class="post repost">
                        <div class="avatar" onclick="location.href='/@p.Repost.AppUser.UserName';">
                            <img src="/images/@p.Repost.AppUser.ProfileImgName" />
                        </div>

                        <div class="body">
                            <div class="header">
                                <div class="user" onclick="location.href='/@p.Repost.AppUser.UserName';">
                                    <h3 class="full-name">
                                        @p.Repost.AppUser.FirstName @p.Repost.AppUser.LastName
                                        <span class="material-symbols-outlined verified-icon">
                                            verified
                                        </span>
                                    </h3>

                                    <p class="username-date">@@@p.Repost.AppUser.UserName · @p.Repost.Date<p />
                                </div>

                                <div class="text">
                                    <p>@p.Repost.Text</p>
                                </div>

                            </div>
                            @if (p.Repost.ImgName != null)
                            {
                                <img class="repost-image" onclick="window.open('/images/@p.Repost.ImgName', '_blank')" src="/images/@p.Repost.ImgName" />
                            }
                        </div>
                    </div>
                }

                <div class="footer">
                    @if (p.Likes.FirstOrDefault(x => x.UserId == Model.CurrentUser.Id) == null)
                    {
                        <form method="post" class="like-form">
                            <input type="hidden" name="postId" value="@p.Id" />
                            <button type="submit" class="btn like fa-regular fa-heart" asp-action="SendLike" asp-controller="Home"></button>
                            <p class="likes-count" style="display: @((p?.Likes.Count() != 0) ? "inline-block" : "none")">@p?.Likes.Count()</p>
                        </form>
                    }
                    else
                    {
                        <form method="post" class="like-form">
                            <input type="hidden" name="postId" value="@p.Id" />
                            <button type="submit" class="btn unlike fa-solid fa-heart" asp-action="RemoveLike" asp-controller="Home"></button>
                            <p class="likes-count liked" style="display: @((p?.Likes.Count() != 0) ? "inline-block" : "none")">@p?.Likes.Count()</p>
                        </form>
                    }

                    <form method="get" class="repost-form">
                        <input type="hidden" name="repostId" value="@p.Id" />
                        <button asp-action="CreatePost" asp-controller="Home" class="btn fa-solid fa-retweet">
                        </button>
                        <p class="reposts-count" style="display: @((p?.RepostsCount != 0) ? "inline-block" : "none")">@p?.RepostsCount</p>
                    </form>

                    <form method="post" style="display: @(Model?.IsCurrentUser == true ? "flex" : "none");">
                        <input name="Id" value="@p.Id" type="hidden" />
                        <input name="accName" value="@p.AppUser?.UserName" type="hidden" />
                        <button type="submit" asp-action="EditPost" class="material-symbols-outlined owner edit-icon">
                            edit
                        </button>
                        <button type="submit" asp-action="DeletePost" class="material-symbols-outlined owner delete-icon">
                            delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>