@model UserPageViewModel
@{
    ViewBag.Title = $"{Model.SelectedUser?.UserName}";
}
<style>
    div.block {
        width: 100%;
        word-wrap: break-word;
    }

    #rcorners1 {
        border-radius: 25px;
        border: 2px solid grey;
        padding: 20px;
    }

    #rcornersImage {
        border-radius: 30px;
        padding: 20px;
    }
</style>



<div style="display:flex; height:200px">
    <div style="width:200px; flex:1;">
        <img src="/images/@Model.SelectedUser?.ProfileImgName"
             style="max-height:125px; max-width:125px; height:100%; width:100%; border-radius:50%;" />
        <h1>@Model.SelectedUser?.UserName</h1>
    </div>
    <div style="flex:2;">
        @if (Model?.IsCurrentUser == true)
        {
            <form method="post" enctype="multipart/form-data">
                <input class="form-control form-control-sm" type="file" accept="image/*" name="file" style="width:200px" />
                <button asp-action="SetProfilePicture" style="display:flex; align-items:flex-start" class="mt-2 btn btn-outline-primary" type="submit">Change Profile Pic</button>
            </form>
            <a class="mt-2 btn btn-outline-primary" style="float:left" href="/Account/Editor/@Model.CurrentUser?.Id">Edit Profile</a>
        }
        else
        {
            @if (!Model.IsFollowing)
            {
                <form method="post">
                    <input type="hidden" name="selectedUserId" value="@Model.SelectedUser.Id" />
                    <button class="mt-2 btn btn-outline-primary" style="float:left" asp-action="Follow">Follow</button>
                </form>
            }
            else
            {
                <form method="post">
                    <input type="hidden" name="selectedUserId" value="@Model.SelectedUser.Id" />
                    <button class="mt-2 btn btn-outline-primary" style="float:left" asp-action="UnFollow">Unfollow</button>
                </form>
            }
        }
    </div>
</div>

@foreach (var p in Model?.Posts ?? Enumerable.Empty<Post>())
{
    <div style="text-align:left" class="block m-2" id="rcorners1">
        <a href="/@p.AppUser?.UserName">
            <img class="d-block" src="/images/@p.AppUser?.ProfileImgName"
                 style="overflow:hidden; border-radius:50%; max-height:50px; max-width:50px; height:50px; width:50px;" />
        </a>
        <a class="link-info d-block" href="/@p.AppUser?.UserName"><strong>@p.AppUser?.UserName</strong></a>
        <div>@p.Text</div>
        @if (p.ImgName != null)
        {
            <div>
                <img style="max-height:400px; max-width:600px; height:100%; width:100%" id="rcornersImage" src="/images/@p.ImgName">
            </div>
        }
        <form class="d-inline" method="post" style="visibility:@(Model?.IsCurrentUser == true ? "visible" : "hidden")">
            <input name="Id" value="@p.Id" type="hidden" />
            <input name="accName" value="@p.AppUser?.UserName" type="hidden" />
            <button type="submit" class="btn btn-outline-danger btn-sm mt-2" asp-action="DeletePost">
                Delete
            </button>
            <button type="submit" class="btn btn-outline-warning btn-sm mt-2" asp-action="EditPost">
                Edit
            </button>
        </form>
        <div class="d-inline" style="float:right">@p.Date</div>
    </div>
}

