@model UserPageViewModel
@{
    ViewBag.Title = $"{Model.SelectedUser?.UserName}";
}

<div class="main-body__border">
    <div class="profile-header">
        <h2>
            @Model.SelectedUser?.FirstName @Model.SelectedUser?.LastName
            <span class="material-symbols-outlined verified-icon">
                verified
            </span>
            <br />
            <span class="bweeps-count">@((Model.SelectedUser.Posts != null) ? Model.SelectedUser.Posts.Count() : "0") Bweeps</span>
        </h2>
    </div>

    <div class="profile-info">
        <div style="display: flex">
            <img src="/images/@Model.SelectedUser?.ProfileImgName"
                 onclick="window.open('@((Model.IsCurrentUser == true) ? "/CropImage" : $"/images/{Model.SelectedUser.ProfileImgName}")', '_blank')" />

            @if (Model.IsCurrentUser == true)
            {
                <button onclick="location.href='/Account/Editor/@Model.SelectedUser?.Id';"
                class="edit-btn">Edit profile</button>
            }
            else
            {
                @if (!Model.IsFollowing)
                {
                    <form method="post">
                        <input type="hidden" id="selectedUserId" value="@Model.SelectedUser?.Id" />
                        <button class="follow-btn" onclick="followUser(event);">Follow</button>
                    </form>
                }
                else
                {
                    <form method="post">
                        <input type="hidden" id="selectedUserId" value="@Model.SelectedUser?.Id" />
                        <button class="unfollow-btn" onclick="unfollowUser(event);">Following</button>
                    </form>
                }
            }
        </div>
        <div>
            <h2>
                @Model.SelectedUser?.FirstName @Model.SelectedUser?.LastName
                <span class="material-symbols-outlined verified-icon">
                    verified
                </span>
                <br />
                <span class="username">@@@Model.SelectedUser?.UserName</span>
                <br />
                <span class="follows-count">
                    @((Model.FollowingCount != null) ? Model.FollowingCount : "0")  Following
                    &emsp; @((Model.FollowersCount != null) ? Model.FollowersCount : "0") Followers
                </span>
            </h2>
        </div>
    </div>

    @foreach (var p in Model?.Posts ?? Enumerable.Empty<Post>())
    {
        <div class="post">
            <div class="avatar" onclick="location.href='/@p.AppUser.UserName';">
                <img src="/images/@p.AppUser.ProfileImgName" />
            </div>

            <div class="body">
                <div class="header">
                    <div class="user" onclick="location.href='/@p.AppUser.UserName';">
                        <h3 class="full-name">@p.AppUser.FirstName @p.AppUser.LastName</h3>
                        <span class="material-symbols-outlined verified-icon">
                            verified
                        </span>
                        <p class="username-date">@@@p.AppUser.UserName · @p.Date<p />
                    </div>
                    <div class="text">
                        <p>@p.Text</p>
                    </div>
                </div>

                @if (p.ImgName != null)
                {
                    <img onclick="window.open('/images/@p.ImgName', '_blank')" src="/images/@p.ImgName" />
                }

                <form method="post" class="footer" style="display: @(Model?.IsCurrentUser == true ? "flex" : "none")">
                    <input name="Id" value="@p.Id" type="hidden" />
                    <input name="accName" value="@p.AppUser?.UserName" type="hidden" />
                    <button type="submit" asp-action="EditPost" class="material-symbols-outlined edit-icon">
                        edit
                    </button>
                    <button type="submit" asp-action="DeletePost" class="material-symbols-outlined delete-icon">
                        delete
                    </button>
                </form>
            </div>
        </div>
    }
</div>